@import url("https://fonts.googleapis.com/css2?family=Allura&display=swap");
@font-face {
  font-family: "SF Pro";
  src: url(/src/assets/fonts/sf-pro-display/SFPRODISPLAYREGULAR.OTF);
  font-weight: normal;
}

@font-face {
  font-family: "SF Pro";
  src: url(/src/assets/fonts/sf-pro-display/SFPRODISPLAYBOLD.OTF);
  font-weight: bold;
}

.allura-regular {
  font-family: "Allura", cursive;
  font-weight: 400;
  font-style: normal;
}

html {
  --main-bg-color: #fdba74;
  --main-text-color: #fafafa;
  --secondary-color-one: #ca8a04;
  --secondary-color-two: #7f1d1d;
  width: calc(1920rem / 16);
  height: calc(993rem / 16);
  background-image: url(/src/assets/images/bg.png);
  background-repeat: no-repeat;
}

body {
  display: flex;
  height: 90%;
  flex-direction: column;
  justify-content: start;
  align-items: center;

  & nav {
    width: calc(700rem / 16);
    height: calc(100rem / 16);
    display: flex;
    justify-content: space-between;
    margin: 0 0 calc(30rem / 16) calc(35rem / 16);

    & button {
      font-family: "Allura";
      font-size: calc(45rem / 16);
      color: var(--secondary-color-two);
      text-shadow: 2px 1px 2px rgba(0,0,0,0.6);
      background: none;
      border: none;
    }

    & button:hover {
      color: var(--secondary-color-one);
    }
  }

  & main {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    & > div:first-child {
      width: calc(450rem / 16);
      height: calc(450rem / 16);
      margin: 0 0 0 calc(25rem / 16);
      /* background-color: #ffffff8f; */
      background-image: url("../assets/images/logo.png");
      background-position: calc(9rem / 16);
      background-repeat: no-repeat;
      border-radius: 100%;
    }

    & > p {
      width: calc(1000rem / 16);
      height: calc(200rem / 16);
      margin: calc(100rem / 16) 0 0 0;
      font-size: calc(34rem / 16);
      font-weight: bold;
      font-family: "SF Pro", sans-serif;
      text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.6);
      color: var(--main-text-color);

      & span:first-child {
        font-family: "Allura";
        font-size: calc(100rem / 16);
        line-height: calc(10rem / 16);
        margin: 0 calc(20rem / 16) 0 0;
        text-shadow: 2px 1px 2px rgba(0,0,0,0.6);
        color: var(--secondary-color-one);
      }
    }
  }
}
